.easycatalog-grid,
.easycatalog-grid li { background: none; padding: 0; margin: 0; list-style: none; }
.std .easycatalog-grid,
.std .easycatalog-grid li { padding: 0; margin: 0; list-style: none; }
.easycatalog-grid li.item { padding: 10px !important; float: left; box-sizing: border-box; }
.easycatalog-grid .product-image { width: auto; height: auto; text-align: center; }
.easycatalog-grid img { width: auto; max-width: 100%; height: auto; }
.easycatalogimg-cols-2 li.item { width: 50% !important; }
.easycatalogimg-cols-2 li.item.item:nth-of-type(2n+1) { clear: left; }
.easycatalogimg-cols-3 li.item { width: 33.3% !important; }
.easycatalogimg-cols-3 li.item:nth-of-type(3n+1) { clear: left; }
.easycatalogimg-cols-4 li.item { width: 25% !important; }
.easycatalogimg-cols-4 li.item:nth-of-type(4n+1) { clear: left; }
.easycatalogimg-cols-5 li.item { width: 20% !important; }
.easycatalogimg-cols-5 li.item:nth-of-type(5n+1) { clear: left; }
.easycatalogimg-cols-6 li.item { width: 16.6% !important; }
.easycatalogimg-cols-6 li.item:nth-of-type(6n+1) { clear: left; }

.easycatalogimg .parent-category { margin: 0 0 8px; }
.easycatalogimg .parent-category a { font-size: 17px; font-weight: normal; text-decoration: none; color: #000; }
.easycatalogimg .parent-category a:hover { text-decoration: underline; }

.easycatalogimg .list-subcategories { padding: 0; margin: 5px 0; list-style: none; font-size: .95em; }
.easycatalogimg .list-subcategories li { margin: 8px 0; padding: 0 0 0 10px; line-height: 1.1em; }
.easycatalogimg .link-more { margin: 0; padding: 0; font-weight: bold; }

/* NavigationPro integration */
.nav-dropdown .easycatalogimg { margin: 0 !important; border: none !important; padding: 0 !important; }
.nav-dropdown .easycatalog-grid { border: none; }
.nav-dropdown .easycatalog-grid li.item { background: none !important; border: none; margin: 0; }
.nav-dropdown .easycatalogimg .parent-category { text-align: center; }
.nav-dropdown .easycatalogimg .product-image { display: block; }

.easycatalogimg,
.easycatalog-grid { zoom: 1; }
.easycatalogimg:after,
.easycatalog-grid:after { content: '.'; clear: both; visibility: hidden; display: block; height: 0; font-size: 0; }

@media (max-width: 768px) {
    .easycatalogimg .parent-category a { font-size: 18px; }
    .easycatalogimg .list-subcategories li { line-height: 18px; }
    .easycatalogimg .list-subcategories a { font-size: 15px; }

    /* Three columns instead of six */
    .easycatalogimg-cols-6 li.item,
    .easycatalogimg-cols-5 li.item { width: 33.3% !important; }

    .easycatalogimg-cols-5 li.item:nth-of-type(5n+1),
    .easycatalogimg-cols-6 li.item:nth-of-type(6n+1) { clear: none; }

    .easycatalogimg-cols-5 li.item:nth-of-type(3n+1),
    .easycatalogimg-cols-6 li.item:nth-of-type(3n+1) { clear: left; }
}

@media (max-width: 480px) {
    .easycatalogimg-cols-5 li.item:nth-of-type(3n+1),
    .easycatalogimg-cols-6 li.item:nth-of-type(3n+1) { clear: none; }
    /* Two columns for small screen */
    .easycatalog-grid li.item { width: 50% !important; }

    .easycatalogimg-cols-3 li.item:nth-of-type(3n+1),
    .easycatalogimg-cols-4 li.item:nth-of-type(4n+1),
    .easycatalogimg-cols-5 li.item:nth-of-type(5n+1) { clear: none; }

    /* clear: left for every third li */
    .easycatalogimg-cols-4 li.item:nth-of-type(2n+1),
    .easycatalogimg-cols-5 li.item:nth-of-type(2n+1),
    .easycatalogimg-cols-6 li.item:nth-of-type(2n+1) { clear: left; }

    .easycatalogimg-cols-3:after,
    .easycatalogimg-cols-5:after { content: ''; clear: none; }
}



#easycatalogimg-jcarousel {
  width:700px;
  margin: 10px auto 40px auto;
  max-width:100%;
}
.template-1column #easycatalogimg-jcarousel {
  margin: 10px 0 40px 0;
}

#categories-carousel {
  max-width:100%;
}

#easycatalogimg-jcarousel .jcarousel-wrapper {
  margin: 10px auto;
  position: relative;
  border: 5px solid rgb(206, 230, 242);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
  padding:5px;
  background-color: rgb(206, 230, 242);
}

/** Carousel **/
#easycatalogimg-jcarousel .jcarousel {
  position: relative;
  overflow: hidden;
  width: auto;
  z-index:1;
  float: none;
  background-color: white;
  /* margin: 5px; */
  padding: 5px;
}
#easycatalogimg-jcarousel .jcarousel ul {
  width: 10000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
#easycatalogimg-jcarousel .jcarousel .jcarousel-tile {
  width: 590px;
  max-width:100%;
  float: left;
  border: 1px solid #3399cc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*    margin-left: 5px;
      margin-right: 5px;
      padding-top: 5px;
      padding-bottom: 5px;*/
  padding: 5px;
  margin: 0 5px;
  /*width:117px;*/
  border-radius: 5px;
  /*display: flex;*/
  height: 214px;
  display: inline-block;
}
#easycatalogimg-jcarousel .jcarousel .jcarousel-tile a {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: block;
}
#easycatalogimg-jcarousel .jcarousel .tile-image {
  float: left;
  height: 202px;
  width: 40%;
}
#easycatalogimg-jcarousel .jcarousel .tile-content {
  float: left;
  padding-left:10px;
  width: 60%;
  height:202px;
}
#easycatalogimg-jcarousel .jcarousel img {
  display: block;
  /*max-width: 100%;*/
  /*height: auto !important;*/
  height:200px;
  width:200px;
  margin: auto;
  border-radius: 5px;
}

/** Carousel Controls **/
#easycatalogimg-jcarousel .jcarousel-control-prev-wrapper,
#easycatalogimg-jcarousel .jcarousel-control-next-wrapper {
  /*position: absolute;*/
  /*top: 50%;*/
  /*margin-top: -15px;*/
  /*top:0;*/
  width: 35px;
  height: 224px;
  text-align: center;
  z-index:2;
  /*background-color:#3399cc;*/
}
#easycatalogimg-jcarousel .jcarousel-control-prev-wrapper {
  /*left: 0px;*/
  float: left;
  /*background: linear-gradient(to right, rgb(206, 230, 242) 50%, white);*/
  background: linear-gradient(to right, rgb(206, 230, 242) 25%, white, white);
}
#easycatalogimg-jcarousel .jcarousel-control-next-wrapper {
  /*right: 0px;*/
  float: right;
  /*background: linear-gradient(to right, white, rgb(206, 230, 242) 50%);*/
  background: linear-gradient(to right, white, white, rgb(206, 230, 242) 75%);
}
#easycatalogimg-jcarousel .jcarousel-control-prev,
#easycatalogimg-jcarousel .jcarousel-control-next {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 4px #F0EFE7;
  -moz-box-shadow: 0 0 4px #F0EFE7;
  box-shadow: 0 0 4px #F0EFE7;
  z-index:2;
}
#easycatalogimg-jcarousel .jcarousel-control-prev {
  left: 5px;
}
#easycatalogimg-jcarousel .jcarousel-control-next {
  right: 5px;
}

/** Carousel Pagination **/
#easycatalogimg-jcarousel .jcarousel-pagination {
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0 auto 10px auto;
}
#easycatalogimg-jcarousel .jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  height: 10px;
  width: 10px;
  line-height: 10px;
  background: #fff;
  color: #3399cc;
  border-radius: 10px;
  text-indent: -9999px;
  margin-right: 7px;
  -webkit-box-shadow: 0 0 2px #3399cc;
  -moz-box-shadow: 0 0 2px #3399cc;
  box-shadow: 0 0 2px #3399cc;
}

#easycatalogimg-jcarousel .jcarousel-pagination a.active {
  background: #3399cc;
  color: #fff;
  opacity: 1;
  -webkit-box-shadow: 0 0 2px #F0EFE7;
  -moz-box-shadow: 0 0 2px #F0EFE7;
  box-shadow: 0 0 2px #F0EFE7;
}

/*
#easycatalogimg-jcarousel .jcarousel-tile .jcarousel-tile-image {
  width:105px;
  height:105px;
}*/

/*#preview {
  position: absolute;
  border: 1px solid #3399cc;
  border-radius: 5px;
  background: #3399cc;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  width: 322px;
  display: none;
  color: #fff;
  z-index: 10;
}*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  #easycatalogimg-jcarousel .jcarousel .jcarousel-tile {
    width: 300px;
    height: 428px;
    /*margin: 0 2px;*/
    /*padding: 2px 2px;*/
    /*position: relative;*/
    display: inline-block;
  }
  #easycatalogimg-jcarousel .jcarousel .tile-image {
/*    width:300px;
    height:300px;*/
    float: none;
    width: 300px;
    height:202px;
    max-width: 100%;
    margin: 0 auto;
  }
  #easycatalogimg-jcarousel .jcarousel .tile-content {
    float: left;
    margin: 0 auto;
    max-width: 100%;
    height:202px;
    max-height:202px;
    overflow: hidden;
    width: 300px;
  }
  #easycatalogimg-jcarousel .jcarousel-wrapper {
    border: 2px solid rgb(206, 230, 242);
    padding: 2px;
    background-color: white;
  }
  #easycatalogimg-jcarousel .jcarousel {
    /*padding: 5px 2px;*/
  }
  #easycatalogimg-jcarousel .jcarousel-control-prev-wrapper, #easycatalogimg-jcarousel .jcarousel-control-next-wrapper,
  #easycatalogimg-jcarousel .jcarousel-control-prev-wrapper a, #easycatalogimg-jcarousel .jcarousel-control-next-wrapper a {
    display:none;
  }

}

